:root {
    --primary--cyan: #000;
    --primary--light--grey: #f2e8c6;
    --primary--dark--grey: #ffca2a;
    --primary--hover--dark: #edc039;
    --primary--hover--light: #e9e0c3;
}

/* Form */
#form-wrapper {
    width: 90%;
    margin-left: 5%;
    min-width: 180px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
}
#contact-form {
    padding: 20px;
    background: var(--primary--light--grey);
    box-shadow: 1px 1px 10px #000;
    border-radius: 10px;
}

/* Labels */
label {
    line-height: 2rem;
    display: block;
}
.inline-title {
    margin-bottom: 10px;
}
label::after {
    content: attr(discord-hash);
    position: relative;
    top: -68px;
    left: 18px;
    color: var(--primary--cyan)
}

/* Input Main */
input {
    border: none;
    border-bottom: 2px solid var(--primary--dark--grey);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary--light--grey);
    color: #000;
}
input:focus {
    outline: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #000, rgba(56,2,155,0));
    border-image-slice: 1;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Text/File Input */
input[type=text], input[type=url] {
    width: 100%;
    margin-bottom: 20px;
}
.indent {
    padding-left: 35px;
    display: inline-block;
}
input[type=file] {
    border-bottom: none;
    color: var(--primary--cyan);
    border: none;
}
input[type=file]::file-selector-button {
    border: 2px solid black;
    padding: 5px 10px;
    background-color: var(--primary--dark--grey)
}
input[type=file]::file-selector-button:hover {
    cursor: pointer;
    background-color: var(--primary--hover--dark);
}
#imgPre {
    display: none;
    width: 50%;
    margin-bottom: 10px;
}

/* Inline Selection Menu */
input[type=radio] {
    width: 100%;
    height: 60px;
    opacity: 0;
}
.inline-label {
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    width: 100%;
    height: 100%;
    background: var(--primary--light--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 2px solid #000;
}
.inline-radio {
    display: flex;
    border-radius: 3px;
    border: 2px solid #000;
    margin-bottom: 20px;
}
input[type=radio]:checked + label {
    background: var(--primary--dark--grey);
    font-weight: 600;
    color: #000;
}
.inline-radio div {
    position: relative;
    flex: 1;
}
input[type=radio]:checked:hover + label {
    background: var(--primary--hover--dark);
}
input[type=radio]:not(:checked):hover + label {
    background: var(--primary--hover--light);
}

/* Submit Button */
input[type=submit] {
    width: 100%;
    border: solid 2px black;
    font-size: 1.2rem;
    border-radius: 20px;
    color: #000;
    background: linear-gradient(to left, transparent, transparent 50%, var(--primary--dark--grey) 50%, var(--primary--light--grey));
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.3s ease-in-out;
}
input[type=submit]:focus {
    font-weight: 500;
}
input[type=submit]:hover {
    background-position: 0 0;
}

/* Submission popup */
#submitted {
    display: none;
    width: 70%;
    margin: auto;
    color: #fff;
    box-shadow: 1px 1px 10px #000;
    background-color: var(--primary--light--grey);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}
#submitted button {
    background-color: var(--primary--dark--grey);
    border: solid 2px black;
    color: #fff;
    border-radius: 10px;
    padding: 20px 80px;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
#submitted button:hover {
    box-shadow: 1px 1px 10px #000;
}